[user]
	name = {name}
	email = {email}
[color]
	ui = auto
[alias]
        log-all = log --graph --all --color --pretty='%x09%h %cn%x09%s %Cred%d%Creset'
        graph = log --graph --date-order -C -M --pretty=format:\"<%h %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
[core]
	editor = vim
